<%= link_to 'New content', new_content_path %>

<h1>Contents</h1>

<ul>
<% @contents.each do |content| %>

<li>
  Title: <%= content.title %>
  Description: <%= content.description %>
  </li>
<%end%>
</ul>
