<%= link_to 'New content', new_content_path %>

<h1>Contents</h1>

<ul>
<% @contents.each do |content| %>

  <li>
    Title: <%= content.title %>
    Description: <%= content.description %>
    <%= link_to 'Link', edit_content_path(content) %>
  </li>
<%end%>
</ul>
